<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-skill-certificate-heading"
        data-cy="EmployeeSkillCertificateCreateUpdateHeading"
        jhiTranslate="compositekeyApp.employeeSkillCertificate.home.createOrEditLabel"
      >
        Create or edit a Employee Skill Certificate
      </h2>
      <div class="form-grid p-fluid">
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkillCertificate.grade" for="field_grade" class="p-col-12 p-md-2">Grade</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="number" name="grade" id="field_grade" formControlName="grade" />
            <div class="validation-messages">
              <ng-container *ngIf="editForm.get('grade')!.invalid && (editForm.get('grade')!.dirty || editForm.get('grade')!.touched)">
                <p-message
                  severity="error"
                  *ngIf="editForm.get('grade')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
                <p-message
                  severity="error"
                  [hidden]="!editForm.get('grade')!.errors!.number"
                  [text]="'entity.validation.number' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkillCertificate.date" for="field_date" class="p-col-12 p-md-2">Date</label>
          <div class="p-col-12 p-md-10">
            <p-calendar id="field_date" formControlName="date" [showIcon]="true"></p-calendar>
            <div class="validation-messages">
              <ng-container *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                <p-message
                  severity="error"
                  *ngIf="editForm.get('date')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkillCertificate.type" for="field_type" class="p-col-12 p-md-2">Type</label>
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="field_type"
              [options]="typeOptions!"
              formControlName="type"
              [readonly]="edit"
              placeholder="Choose"
              optionLabel="name"
              dataKey="id"
            ></p-dropdown>
            <div class="validation-messages">
              <ng-container *ngIf="editForm.get('type')!.invalid && (editForm.get('type')!.dirty || editForm.get('type')!.touched)">
                <p-message
                  severity="error"
                  *ngIf="editForm.get('type')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <ng-container formGroupName="skill">
          <div class="p-field p-grid">
            <label jhiTranslate="compositekeyApp.employeeSkill.employee" for="field_skill_employee" class="p-col-12 p-md-2">Employee</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown
                id="field_skill_employee"
                [options]="skillEmployeeOptions!"
                formControlName="employee"
                [readonly]="edit"
                [rows]="10"
                [lazy]="true"
                (onLazyLoad)="onSkillEmployeeLazyLoadEvent($event)"
                [lazyLoadOnInit]="true"
                [filter]="true"
                [filterValue]="skillEmployeeFilterValue"
                placeholder="Choose"
                optionLabel="fullname"
                dataKey="username"
              ></p-dropdown>
              <div class="validation-messages">
                <ng-container
                  *ngIf="skillForm.get('employee')!.invalid && (skillForm.get('employee')!.dirty || skillForm.get('employee')!.touched)"
                >
                  <p-message
                    severity="error"
                    *ngIf="skillForm.get('employee')!.errors!.required"
                    [text]="'entity.validation.required' | translate"
                  >
                  </p-message>
                </ng-container>
              </div>
            </div>
          </div>

          <div class="p-field p-grid" *ngIf="skillOptions || edit">
            <label jhiTranslate="compositekeyApp.employeeSkillCertificate.skill" for="field_skill" class="p-col-12 p-md-2">Skill</label>
            <div class="p-col-12 p-md-10">
              <p-dropdown
                id="field_skill"
                [options]="skillOptions!"
                formControlName="name"
                [readonly]="edit"
                [rows]="10"
                [lazy]="true"
                (onLazyLoad)="onSkillLazyLoadEvent($event)"
                [filter]="true"
                [filterValue]="skillFilterValue"
                placeholder="Choose"
                optionLabel="name"
                optionValue="name"
              ></p-dropdown>
              <div class="validation-messages">
                <ng-container *ngIf="skillForm.get('name')!.invalid && (skillForm.get('name')!.dirty || skillForm.get('name')!.touched)">
                  <p-message
                    severity="error"
                    *ngIf="skillForm.get('name')!.errors!.required"
                    [text]="'entity.validation.required' | translate"
                  >
                  </p-message>
                </ng-container>
              </div>
            </div>
          </div>
        </ng-container>
      </div>

      <div>
        <button
          pButton
          type="button"
          id="cancel-save"
          icon="pi pi-ban"
          class="p-button-secondary"
          (click)="previousState()"
          [label]="'entity.action.cancel' | translate"
        ></button>
        <button
          pButton
          type="submit"
          id="save-entity"
          icon="pi pi-save"
          [disabled]="editForm.invalid || isSaving"
          [label]="'entity.action.save' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
