<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="withUUID">
      <h2 data-cy="withUUIDDetailsHeading">
        <span jhiTranslate="compositekeyApp.withUUID.detail.title">With UUID</span> {{ withUUID.uuid! }}
      </h2>

      <hr />
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="compositekeyApp.withUUID.uuid">Uuid</span></dt>
        <dd>
          <span>{{ withUUID.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="compositekeyApp.withUUID.name">Name</span></dt>
        <dd>
          <span>{{ withUUID.name }}</span>
        </dd>
      </dl>

      <button
        pButton
        type="submit"
        (click)="previousState()"
        class="p-button-info"
        icon="pi pi-arrow-left"
        [label]="'entity.action.back' | translate"
        data-cy="entityDetailsBackButton"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-pencil"
        [label]="'entity.action.edit' | translate"
        [routerLink]="['/with-uuid', withUUID!.uuid, 'edit']"
      ></button>
    </div>
  </div>
</div>
