<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="withIdStringDetails">
            <h2 data-cy="withIdStringDetailsDetailsHeading"><span jhiTranslate="compositekeyApp.withIdStringDetails.detail.title">With Id String Details</span> {{ withIdStringDetails.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="compositekeyApp.withIdStringDetails.name">Name</span></dt>
                <dd>
                    <span>{{ withIdStringDetails.name }}</span>
                </dd>
                <dt><span jhiTranslate="compositekeyApp.withIdStringDetails.withIdString">With Id String</span></dt>
                <dd>
                    <div *ngIf="withIdStringDetails.withIdString">
                        <a [routerLink]="['/with-id-string', withIdStringDetails.withIdString?.id, 'view']">{{ withIdStringDetails.withIdString?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/with-id-string-details', withIdStringDetails.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
