<div>
    <h2 id="page-heading" data-cy="WithIdStringDetailsHeading">
        <span jhiTranslate="compositekeyApp.withIdStringDetails.home.title">With Id String Details</span>

        <div class="d-flex justify-content-end">
            <button class="btn btn-info mr-2" (click)="handleSyncList()" [disabled]="isLoading">
                <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
                <span jhiTranslate="compositekeyApp.withIdStringDetails.home.refreshListLabel">Refresh List</span>
            </button>

            <button id="jh-create-entity" data-cy="entityCreateButton" class="btn btn-primary jh-create-entity create-with-id-string-details" [routerLink]="['/with-id-string-details/new']">
                <fa-icon icon="plus"></fa-icon>
                <span  jhiTranslate="compositekeyApp.withIdStringDetails.home.createLabel">
                Create a new With Id String Details
                </span>
            </button>
        </div>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="withIdStringDetails?.length === 0">
        <span jhiTranslate="compositekeyApp.withIdStringDetails.home.notFound">No withIdStringDetails found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="withIdStringDetails && withIdStringDetails.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="compositekeyApp.withIdStringDetails.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="compositekeyApp.withIdStringDetails.withIdString">With Id String</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let withIdStringDetails of withIdStringDetails; trackBy: trackId" data-cy="entityTable">
                    <td><a [routerLink]="['/with-id-string-details', withIdStringDetails.id, 'view']">{{ withIdStringDetails.id }}</a></td>
                    <td>{{ withIdStringDetails.name }}</td>
                    <td>
                        <div *ngIf="withIdStringDetails.withIdString">
                            <a [routerLink]="['/with-id-string', withIdStringDetails.withIdString?.id, 'view']" >{{ withIdStringDetails.withIdString?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/with-id-string-details', withIdStringDetails.id, 'view']"
                                    class="btn btn-info btn-sm"
                                    data-cy="entityDetailsButton">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/with-id-string-details', withIdStringDetails.id, 'edit']"
                                    class="btn btn-primary btn-sm"
                                    data-cy="entityEditButton">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(withIdStringDetails)"
                                    class="btn btn-danger btn-sm"
                                    data-cy="entityDeleteButton">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
