<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="withIdString">
      <h2 data-cy="withIdStringDetailsHeading">
        <span jhiTranslate="compositekeyApp.withIdString.detail.title">With Id String</span> {{ withIdString.id! }}
      </h2>

      <hr />
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="compositekeyApp.withIdString.id">Id</span></dt>
        <dd>
          <span>{{ withIdString.id }}</span>
        </dd>
        <dt><span jhiTranslate="compositekeyApp.withIdString.name">Name</span></dt>
        <dd>
          <span>{{ withIdString.name }}</span>
        </dd>
      </dl>

      <button
        pButton
        type="submit"
        (click)="previousState()"
        class="p-button-info"
        icon="pi pi-arrow-left"
        [label]="'entity.action.back' | translate"
        data-cy="entityDetailsBackButton"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-pencil"
        [label]="'entity.action.edit' | translate"
        [routerLink]="['/with-id-string', withIdString!.id, 'edit']"
      ></button>
    </div>
  </div>
</div>
