<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-price-formula-heading" data-cy="PriceFormulaCreateUpdateHeading" jhiTranslate="compositekeyApp.priceFormula.home.createOrEditLabel">Create or edit a Price Formula</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="compositekeyApp.priceFormula.formula" for="field_formula">Formula</label>
                    <input type="text" class="form-control" name="formula" id="field_formula" data-cy="formula"
                           formControlName="formula"/>
                    <div *ngIf="editForm.get('formula')!.invalid && (editForm.get('formula')!.dirty || editForm.get('formula')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('formula')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
