<div>
  <h2 id="page-heading" data-cy="WithUUIDHeading">
    <span jhiTranslate="compositekeyApp.withUUID.home.title">With UUIDS</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadAll()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="compositekeyApp.withUUID.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-with-uuid"
        [routerLink]="['/with-uuid/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="compositekeyApp.withUUID.home.createLabel"> Create a new With UUID </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="withUUIDS?.length === 0">
    <span jhiTranslate="compositekeyApp.withUUID.home.notFound">No withUUIDS found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="withUUIDS && withUUIDS.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr>
          <th scope="col"><span jhiTranslate="compositekeyApp.withUUID.uuid">Uuid</span></th>
          <th scope="col"><span jhiTranslate="compositekeyApp.withUUID.name">Name</span></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let withUUID of withUUIDS; trackBy: trackUuid" data-cy="entityTable">
          <td>
            <a [routerLink]="['/with-uuid', withUUID.uuid, 'view']">{{ withUUID.uuid }}</a>
          </td>
          <td>{{ withUUID.name }}</td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/with-uuid', withUUID.uuid, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/with-uuid', withUUID.uuid, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(withUUID)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
