<div>
  <h2 id="page-heading" data-cy="EmployeeHeading">
    <span jhiTranslate="compositekeyApp.employee.home.title">Employees</span>
    <p-button
      id="jh-create-entity"
      class="float-right jh-create-entity create-employee"
      [routerLink]="['/employee/new']"
      [label]="'compositekeyApp.employee.home.createLabel' | translate"
      icon="pi pi-plus"
      iconPos="left"
    >
    </p-button>
  </h2>
  <br />
  <p-table
    #employeeTable
    [value]="employees!"
    [rowTrackBy]="trackId"
    [responsive]="true"
    [lazy]="true"
    [rows]="itemsPerPage"
    [totalRecords]="totalItems!"
    [loading]="loading"
    sortMode="multiple"
    [lazyLoadOnInit]="false"
    [paginator]="true"
    (onLazyLoad)="onLazyLoadEvent($event)"
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="username">
          <span jhiTranslate="compositekeyApp.employee.username">Username</span>
          <p-sortIcon field="username"></p-sortIcon>
          <p-columnFilter
            type="text"
            matchMode="contains"
            field="username"
            display="menu"
            [showOperator]="false"
            class="p-ml-auto"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="fullname">
          <span jhiTranslate="compositekeyApp.employee.fullname">Fullname</span>
          <p-sortIcon field="fullname"></p-sortIcon>
          <p-columnFilter
            type="text"
            matchMode="contains"
            field="fullname"
            display="menu"
            [showOperator]="false"
            class="p-ml-auto"
          ></p-columnFilter>
        </th>
        <th pSortableColumn="manager.fullname">
          <span jhiTranslate="compositekeyApp.employee.manager">Manager</span>
          <p-sortIcon field="manager.fullname"></p-sortIcon>
          <p-columnFilter
            field="manager.username"
            matchMode="in"
            display="menu"
            [showOperator]="false"
            [showMatchModes]="false"
            [showAddButton]="false"
            class="p-ml-auto"
          >
            <ng-template pTemplate="filter" let-value let-filter="filterCallback">
              <p-multiSelect
                [ngModel]="value"
                [options]="managerOptions!"
                (onChange)="filter($event.value)"
                optionLabel="fullname"
                optionValue="username"
                [lazy]="true"
                [rows]="10"
                [lazySelectedOptions]="managerSelectedOptions!"
                (onLazyLoad)="onManagerLazyLoadEvent($event)"
              ></p-multiSelect>
            </ng-template>
          </p-columnFilter>
        </th>
        <th style="width: 124px"></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-employee>
      <tr>
        <td>
          <a [routerLink]="['/employee', employee!.username!, 'view']">{{ employee.username }}</a>
        </td>
        <td>{{ employee.fullname }}</td>
        <td>
          <div *ngIf="employee.manager">
            <a [routerLink]="['/employee', employee!.manager!.username!, 'view']">{{ employee!.manager!.fullname }}</a>
          </div>
        </td>
        <td>
          <div class="btn-group flex-btn-group-container">
            <p-button type="submit" [routerLink]="['/employee', employee.username!, 'view']" icon="pi pi-eye" styleClass="p-button-info">
            </p-button>
            <p-button
              type="submit"
              [routerLink]="['/employee', employee.username!, 'edit']"
              icon="pi pi-pencil"
              styleClass="p-button-warning"
              data-cy="entityEditButton"
            >
            </p-button>
            <p-button
              type="submit"
              (click)="delete(employee.username)"
              icon="pi pi-times"
              styleClass="p-button-danger"
              data-cy="entityDeleteButton"
            >
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
