<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2 data-cy="employeeDetailsHeading"><span jhiTranslate="compositekeyApp.employee.detail.title">Employee</span> {{ employee.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <jhi-alert></jhi-alert>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="compositekeyApp.employee.fullname">Fullname</span></dt>
                <dd>
                    <span>{{ employee.fullname }}</span>
                </dd>
                <dt><span jhiTranslate="compositekeyApp.employee.manager">Manager</span></dt>
                <dd>
                    <div *ngIf="employee.manager">
                        <a [routerLink]="['/employee', employee.manager?.id, 'view']">{{ employee.manager?.fullname }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info"
                    data-cy="entityDetailsBackButton">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
