<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-with-id-string-details-heading"
        data-cy="WithIdStringDetailsCreateUpdateHeading"
        jhiTranslate="compositekeyApp.withIdStringDetails.home.createOrEditLabel"
      >
        Create or edit a With Id String Details
      </h2>
      <div class="form-grid p-fluid">
        <div class="p-field p-grid">
          <ng-container *ngIf="editForm.get('id')!.value">
            <label jhiTranslate="compositekeyApp.withIdString.id" for="field_id" class="p-col-12 p-md-2">Id</label>
            <div class="p-col-12 p-md-10">
              <input pInputText type="text" name="id" id="field_id" formControlName="id" readonly />
            </div>
          </ng-container>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.withIdStringDetails.details" for="field_details" class="p-col-12 p-md-2">Details</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="text" name="details" id="field_details" formControlName="details" />
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.withIdStringDetails.withIdString" for="field_with_id_string" class="p-col-12 p-md-2"
            >With Id String</label
          >
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="field_with_id_string"
              [options]="withIdStringOptions!"
              formControlName="withIdString"
              [readonly]="edit"
              placeholder="Choose"
              optionLabel="id"
              dataKey="id"
            ></p-dropdown>
            <div class="validation-messages">
              <ng-container
                *ngIf="
                  editForm.get('withIdString')!.invalid && (editForm.get('withIdString')!.dirty || editForm.get('withIdString')!.touched)
                "
              >
                <p-message
                  severity="error"
                  *ngIf="editForm.get('withIdString')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          pButton
          type="button"
          id="cancel-save"
          icon="pi pi-ban"
          class="p-button-secondary"
          (click)="previousState()"
          [label]="'entity.action.cancel' | translate"
        ></button>
        <button
          pButton
          type="submit"
          id="save-entity"
          icon="pi pi-save"
          [disabled]="editForm.invalid || isSaving"
          [label]="'entity.action.save' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
