<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-with-uuid-details-heading"
        data-cy="WithUUIDDetailsCreateUpdateHeading"
        jhiTranslate="compositekeyApp.withUUIDDetails.home.createOrEditLabel"
      >
        Create or edit a With UUID Details
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('uuid')!.value == null">
          <label class="form-control-label" jhiTranslate="compositekeyApp.withUUID.uuid" for="field_uuid">Uuid</label>
          <input type="text" class="form-control" name="uuid" id="field_uuid" data-cy="uuid" formControlName="uuid" [readonly]="true" />
          <div *ngIf="editForm.get('uuid')!.invalid && (editForm.get('uuid')!.dirty || editForm.get('uuid')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('uuid')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.withUUIDDetails.details" for="field_details">Details</label>
          <input type="text" class="form-control" name="details" id="field_details" data-cy="details" formControlName="details" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.withUUIDDetails.withUUID" for="field_withUUID">With UUID</label>
          <select class="form-control" id="field_withUUID" data-cy="withUUID" name="withUUID" formControlName="withUUID">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="withUUIDOption.uuid === editForm.get('withUUID')!.value?.uuid ? editForm.get('withUUID')!.value : withUUIDOption"
              *ngFor="let withUUIDOption of withUUIDSCollection; trackBy: trackWithUUIDByUuid"
            >
              {{ withUUIDOption.uuid }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
