<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-with-uuid-details-heading"
        data-cy="WithUUIDDetailsCreateUpdateHeading"
        jhiTranslate="compositekeyApp.withUUIDDetails.home.createOrEditLabel"
      >
        Create or edit a With UUID Details
      </h2>
      <div class="form-grid p-fluid">
        <div class="p-field p-grid">
          <ng-container *ngIf="editForm.get('uuid')!.value">
            <label jhiTranslate="compositekeyApp.withUUID.uuid" for="field_uuid" class="p-col-12 p-md-2">Uuid</label>
            <div class="p-col-12 p-md-10">
              <input pInputText type="text" name="uuid" id="field_uuid" formControlName="uuid" readonly />
            </div>
          </ng-container>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.withUUIDDetails.details" for="field_details" class="p-col-12 p-md-2">Details</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="text" name="details" id="field_details" formControlName="details" />
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.withUUIDDetails.withUUID" for="field_with_uuid" class="p-col-12 p-md-2">With UUID</label>
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="field_with_uuid"
              [options]="withUUIDOptions!"
              formControlName="withUUID"
              [readonly]="edit"
              placeholder="Choose"
              optionLabel="uuid"
              dataKey="uuid"
            ></p-dropdown>
            <div class="validation-messages">
              <ng-container
                *ngIf="editForm.get('withUUID')!.invalid && (editForm.get('withUUID')!.dirty || editForm.get('withUUID')!.touched)"
              >
                <p-message
                  severity="error"
                  *ngIf="editForm.get('withUUID')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          pButton
          type="button"
          id="cancel-save"
          icon="pi pi-ban"
          class="p-button-secondary"
          (click)="previousState()"
          [label]="'entity.action.cancel' | translate"
        ></button>
        <button
          pButton
          type="submit"
          id="save-entity"
          icon="pi pi-save"
          [disabled]="editForm.invalid || isSaving"
          [label]="'entity.action.save' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
