<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="withUUIDDetails">
      <h2 data-cy="withUUIDDetailsDetailsHeading">
        <span jhiTranslate="compositekeyApp.withUUIDDetails.detail.title">With UUID Details</span> {{ withUUIDDetails.withUUID!.uuid! }}
      </h2>

      <hr />
      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="compositekeyApp.withUUID.uuid">Uuid</span></dt>
        <dd>
          <span>{{ withUUIDDetails.uuid }}</span>
        </dd>
        <dt><span jhiTranslate="compositekeyApp.withUUIDDetails.details">Details</span></dt>
        <dd>
          <span>{{ withUUIDDetails.details }}</span>
        </dd>
        <dt><span jhiTranslate="compositekeyApp.withUUIDDetails.withUUID">With UUID</span></dt>
        <dd>
          <div *ngIf="withUUIDDetails.withUUID">
            <a [routerLink]="['/with-uuid', withUUIDDetails!.withUUID!.uuid!, 'view']">{{ withUUIDDetails!.withUUID!.uuid }}</a>
          </div>
        </dd>
      </dl>

      <button
        pButton
        type="submit"
        (click)="previousState()"
        class="p-button-info"
        icon="pi pi-arrow-left"
        [label]="'entity.action.back' | translate"
        data-cy="entityDetailsBackButton"
      ></button>
      <button
        pButton
        type="button"
        icon="pi pi-pencil"
        [label]="'entity.action.edit' | translate"
        [routerLink]="['/with-uuid-details', withUUIDDetails!.uuid, 'edit']"
      ></button>
    </div>
  </div>
</div>
