<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-employee-skill-certificate-heading" data-cy="EmployeeSkillCertificateCreateUpdateHeading" jhiTranslate="compositekeyApp.employeeSkillCertificate.home.createOrEditLabel">Create or edit a Employee Skill Certificate</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkillCertificate.grade" for="field_grade">Grade</label>
                    <input type="number" class="form-control" name="grade" id="field_grade" data-cy="grade"
                           formControlName="grade"/>
                    <div *ngIf="editForm.get('grade')!.invalid && (editForm.get('grade')!.dirty || editForm.get('grade')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('grade')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('grade')?.errors?.number" jhiTranslate="entity.validation.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkillCertificate.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" data-cy="date" type="text" class="form-control" name="date" ngbDatepicker #dateDp="ngbDatepicker" formControlName="date"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('date')!.invalid && (editForm.get('date')!.dirty || editForm.get('date')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('date')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkillCertificate.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" data-cy="type" name="type" formControlName="type">
                        <option *ngIf="!editForm.get('type')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="certificateTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : certificateTypeOption" *ngFor="let certificateTypeOption of certificatetypes; trackBy: trackById">{{ certificateTypeOption.name }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('typeId')!.invalid && (editForm.get('typeId')!.dirty || editForm.get('typeId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('typeId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkillCertificate.skill" for="field_skill">Skill</label>
                    <select class="form-control" id="field_skill" data-cy="skill" name="skill" formControlName="skill">
                        <option *ngIf="!editForm.get('skill')!.value" [ngValue]="null" selected></option>
                        <option [ngValue]="employeeSkillOption.id === editForm.get('skill')!.value?.id ? editForm.get('skill')!.value : employeeSkillOption" *ngFor="let employeeSkillOption of employeeskills; trackBy: trackById">{{ employeeSkillOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('skillId')!.invalid && (editForm.get('skillId')!.dirty || editForm.get('skillId')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('skillId')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" data-cy="entityCreateSaveButton" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
