<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-skill-heading"
        data-cy="EmployeeSkillCreateUpdateHeading"
        jhiTranslate="compositekeyApp.employeeSkill.home.createOrEditLabel"
      >
        Create or edit a Employee Skill
      </h2>
      <div class="form-grid p-fluid">
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkill.name" for="field_name" class="p-col-12 p-md-2">Name</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="text" name="name" id="field_name" formControlName="name" [readonly]="edit" />
            <div class="validation-messages">
              <ng-container *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
                <p-message
                  severity="error"
                  *ngIf="editForm.get('name')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkill.level" for="field_level" class="p-col-12 p-md-2">Level</label>
          <div class="p-col-12 p-md-10">
            <input pInputText type="number" name="level" id="field_level" formControlName="level" />
            <div class="validation-messages">
              <ng-container *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
                <p-message
                  severity="error"
                  *ngIf="editForm.get('level')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
                <p-message
                  severity="error"
                  [hidden]="!editForm.get('level')!.errors!.number"
                  [text]="'entity.validation.number' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkill.task" for="field_tasks" class="p-col-12 p-md-2">Task</label>
          <div class="p-col-12 p-md-10">
            <p-multiSelect
              id="field_tasks"
              name="tasks"
              formControlName="tasks"
              dataKey="id"
              [lazySelectedOptions]="taskSelectedOptions!"
              [lazy]="true"
              [rows]="10"
              (onLazyLoad)="onTaskLazyLoadEvent($event)"
              [options]="taskOptions!"
              optionLabel="name"
            >
            </p-multiSelect>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkill.employee" for="field_employee" class="p-col-12 p-md-2">Employee</label>
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="field_employee"
              [options]="employeeOptions!"
              formControlName="employee"
              [readonly]="edit"
              [rows]="10"
              [lazy]="true"
              (onLazyLoad)="onEmployeeLazyLoadEvent($event)"
              [lazyLoadOnInit]="true"
              [filter]="true"
              [filterValue]="employeeFilterValue"
              placeholder="Choose"
              optionLabel="fullname"
              dataKey="username"
            ></p-dropdown>
            <div class="validation-messages">
              <ng-container
                *ngIf="editForm.get('employee')!.invalid && (editForm.get('employee')!.dirty || editForm.get('employee')!.touched)"
              >
                <p-message
                  severity="error"
                  *ngIf="editForm.get('employee')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
        <div class="p-field p-grid">
          <label jhiTranslate="compositekeyApp.employeeSkill.teacher" for="field_teacher" class="p-col-12 p-md-2">Teacher</label>
          <div class="p-col-12 p-md-10">
            <p-dropdown
              id="field_teacher"
              [options]="teacherOptions!"
              formControlName="teacher"
              [rows]="10"
              [lazy]="true"
              (onLazyLoad)="onTeacherLazyLoadEvent($event)"
              [lazyLoadOnInit]="true"
              [filter]="true"
              [filterValue]="teacherFilterValue"
              placeholder="Choose"
              optionLabel="fullname"
              dataKey="username"
            ></p-dropdown>
            <div class="validation-messages">
              <ng-container
                *ngIf="editForm.get('teacher')!.invalid && (editForm.get('teacher')!.dirty || editForm.get('teacher')!.touched)"
              >
                <p-message
                  severity="error"
                  *ngIf="editForm.get('teacher')!.errors!.required"
                  [text]="'entity.validation.required' | translate"
                >
                </p-message>
              </ng-container>
            </div>
          </div>
        </div>
      </div>

      <div>
        <button
          pButton
          type="button"
          id="cancel-save"
          icon="pi pi-ban"
          class="p-button-secondary"
          (click)="previousState()"
          [label]="'entity.action.cancel' | translate"
        ></button>
        <button
          pButton
          type="submit"
          id="save-entity"
          icon="pi pi-save"
          [disabled]="editForm.invalid || isSaving"
          [label]="'entity.action.save' | translate"
        ></button>
      </div>
    </form>
  </div>
</div>
