<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-employee-skill-heading"
        data-cy="EmployeeSkillCreateUpdateHeading"
        jhiTranslate="compositekeyApp.employeeSkill.home.createOrEditLabel"
      >
        Create or edit a Employee Skill
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkill.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
          <div *ngIf="editForm.get('name')!.invalid && (editForm.get('name')!.dirty || editForm.get('name')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('name')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkill.level" for="field_level">Level</label>
          <input type="number" class="form-control" name="level" id="field_level" data-cy="level" formControlName="level" />
          <div *ngIf="editForm.get('level')!.invalid && (editForm.get('level')!.dirty || editForm.get('level')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('level')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
            <small class="form-text text-danger" [hidden]="!editForm.get('level')?.errors?.number" jhiTranslate="entity.validation.number">
              This field should be a number.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label jhiTranslate="compositekeyApp.employeeSkill.task" for="field_tasks">Task</label>
          <select class="form-control" id="field_tasks" data-cy="task" multiple name="tasks" formControlName="tasks">
            <option
              [ngValue]="getSelectedTask(taskOption, editForm.get('tasks')!.value)"
              *ngFor="let taskOption of tasksSharedCollection; trackBy: trackTaskById"
            >
              {{ taskOption.name }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkill.employee" for="field_employee">Employee</label>
          <select class="form-control" id="field_employee" data-cy="employee" name="employee" formControlName="employee">
            <option *ngIf="!editForm.get('employee')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                employeeOption.username === editForm.get('employee')!.value?.username ? editForm.get('employee')!.value : employeeOption
              "
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeByUsername"
            >
              {{ employeeOption.fullname }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['employee'])!.invalid && (editForm.get(['employee'])!.dirty || editForm.get(['employee'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['employee'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="compositekeyApp.employeeSkill.teacher" for="field_teacher">Teacher</label>
          <select class="form-control" id="field_teacher" data-cy="teacher" name="teacher" formControlName="teacher">
            <option *ngIf="!editForm.get('teacher')!.value" [ngValue]="null" selected></option>
            <option
              [ngValue]="
                employeeOption.username === editForm.get('teacher')!.value?.username ? editForm.get('teacher')!.value : employeeOption
              "
              *ngFor="let employeeOption of employeesSharedCollection; trackBy: trackEmployeeByUsername"
            >
              {{ employeeOption.fullname }}
            </option>
          </select>
        </div>
        <div *ngIf="editForm.get(['teacher'])!.invalid && (editForm.get(['teacher'])!.dirty || editForm.get(['teacher'])!.touched)">
          <small
            class="form-text text-danger"
            *ngIf="editForm.get(['teacher'])?.errors?.required"
            jhiTranslate="entity.validation.required"
          >
            This field is required.
          </small>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
